.flex-table thead tr,
.flex-table tbody tr {
  display: flex;
}
.flex-table tbody tr + tr {
  border: 1px solid #ccc;
}
.flex-table thead tr th,
.flex-table tbody tr td {
  font-size: 15pt;
  border: 1px solid #ccc;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex: 1;
  padding: 0.3em 0 0.3em 0;
}

.flex-table tbody tr:hover {
  background-color: rgba(184, 245, 181, 0.87);
}
.flex-table tbody tr:active {
  background-color: rgba(156, 141, 241, 0.87);
}

.flex-table thead tr th:last-child,
.flex-table tbody tr td:last-child {
  justify-content: center;
  align-items: center;
}
.flex-table thead tr th:nth-child(-n + 2),
.flex-table tbody tr td:nth-child(-n + 2) {
  max-width: 80px;
}
